In [56]:
import requests
import pandas as pd

In [35]:
url = 'https://www.basketball-reference.com/teams/'
html = requests.get(url).content
df_list = pd.read_html(html)
tames = df_list[0]

    Lg -- League  From -- First year  To -- Last year  G -- Games  W -- Wins  L -- Losses  
    W/L% -- Win-Loss Percentage  Plyfs -- Years team made the playoffs  
    Div -- Years team finished first (or tied for first) in the division  
    Conf -- Years team won the conference championship  Champ -- Years team won the league championship

In [66]:
tames

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1950,2019,70,5552,2746,2806,0.495,46,11,0,1
1,Atlanta Hawks,NBA,1969,2019,51,4134,2048,2086,0.495,33,5,0,0
2,St. Louis Hawks,NBA,1956,1968,13,1005,553,452,0.550,12,6,0,1
3,Milwaukee Hawks,NBA,1952,1955,4,281,91,190,0.324,0,0,0,0
4,Tri-Cities Blackhawks,NBA,1950,1951,2,132,54,78,0.409,1,0,0,0
5,Boston Celtics,NBA/BAA,1947,2019,73,5724,3378,2346,0.590,56,31,9,17
6,Brooklyn Nets,NBA/ABA,1968,2019,52,4222,1824,2398,0.432,27,5,2,2
7,Brooklyn Nets,NBA,2013,2019,7,574,242,332,0.422,4,0,0,0
8,New Jersey Nets,NBA,1978,2012,35,2822,1186,1636,0.420,16,4,2,0
9,New York Nets,NBA,1977,1977,1,82,22,60,0.268,0,0,0,0
10,New York Nets,ABA,1969,1976,8,666,338,328,0.508,7,1,0,2
11,New Jersey Americans,ABA,1968,1968,1,78,36,42,0.462,0,0,0,0
12,Charlotte Hornets,NBA,1989,2019,29,2330,1027,1303,0.441,10,0,0,0
13,Charlotte Hornets,NBA,2015,2019,5,410,192,218,0.468,1,0,0,0
14,Charlotte Bobcats,NBA,2005,2014,10,804,293,511,0.364,2,0,0,0
15,Charlotte Hornets,NBA,1989,2002,14,1116,542,574,0.486,7,0,0,0
16,Chicago Bulls,NBA,1967,2019,53,4297,2205,2092,0.513,35,9,6,6
17,Cleveland Cavaliers,NBA,1971,2019,49,3970,1848,2122,0.465,22,7,5,1
18,Dallas Mavericks,NBA,1981,2019,39,3150,1572,1578,0.499,21,3,2,1
19,Denver Nuggets,NBA/ABA,1968,2019,52,4222,2116,2106,0.501,34,11,0,0
20,Denver Nuggets,NBA,1977,2019,43,3478,1703,1775,0.490,25,8,0,0
21,Denver Nuggets,ABA,1975,1976,2,168,125,43,0.744,2,2,0,0
22,Denver Rockets,ABA,1968,1974,7,576,288,288,0.500,7,1,0,0
23,Detroit Pistons,NBA/BAA,1949,2019,71,5614,2733,2881,0.487,42,11,5,3
24,Detroit Pistons,NBA,1958,2019,62,4995,2420,2575,0.484,34,9,5,3
25,Fort Wayne Pistons,NBA/BAA,1949,1957,9,619,313,306,0.506,8,2,0,0
26,Golden State Warriors,NBA/BAA,1947,2019,73,5720,2772,2948,0.485,35,12,5,6
27,Golden State Warriors,NBA,1972,2019,48,3888,1884,2004,0.485,18,7,5,4
28,San Francisco Warriors,NBA,1963,1971,9,729,330,399,0.453,5,2,0,0
29,Philadelphia Warriors,NBA/BAA,1947,1962,16,1103,558,545,0.506,12,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Oklahoma City Thunder,NBA,2009,2019,11,886,538,348,0.607,9,5,1,0
56,Seattle SuperSonics,NBA,1968,2008,41,3330,1745,1585,0.524,22,6,3,1
57,Orlando Magic,NBA,1990,2019,30,2412,1158,1254,0.480,15,6,2,0
58,Philadelphia 76ers,NBA,1950,2019,70,5550,2857,2693,0.515,49,11,5,3
59,Philadelphia 76ers,NBA,1964,2019,56,4537,2281,2256,0.503,35,8,5,2
60,Syracuse Nationals,NBA,1950,1963,14,1013,576,437,0.569,14,3,0,1
61,Phoenix Suns,NBA,1969,2019,51,4134,2186,1948,0.529,29,6,2,0
62,Portland Trail Blazers,NBA,1971,2019,49,3970,2134,1836,0.538,35,6,3,1
63,Sacramento Kings,NBA/BAA,1949,2019,71,5615,2562,3053,0.456,29,5,0,1
64,Sacramento Kings,NBA,1986,2019,34,2740,1156,1584,0.422,10,2,0,0
65,Kansas City Kings,NBA,1976,1985,10,820,381,439,0.465,4,1,0,0
66,Kansas City-Omaha Kings,NBA,1973,1975,3,246,113,133,0.459,1,0,0,0
67,Cincinnati Royals,NBA,1958,1972,15,1189,555,634,0.467,7,0,0,0
68,Rochester Royals,NBA/BAA,1949,1957,9,620,357,263,0.576,7,2,0,1
69,San Antonio Spurs,NBA/ABA,1968,2019,52,4222,2540,1682,0.602,47,22,6,5
70,San Antonio Spurs,NBA,1977,2019,43,3478,2162,1316,0.622,39,22,6,5
71,San Antonio Spurs,ABA,1974,1976,3,252,146,106,0.579,3,0,0,0
72,Texas Chaparrals,ABA,1971,1971,1,84,30,54,0.357,1,0,0,0
73,Dallas Chaparrals,ABA,1968,1973,5,408,202,206,0.495,4,0,0,0
74,Toronto Raptors,NBA,1996,2019,24,1920,902,1018,0.470,11,6,0,0
75,Utah Jazz,NBA,1975,2019,45,3642,1964,1678,0.539,28,9,2,0
76,Utah Jazz,NBA,1980,2019,40,3232,1803,1429,0.558,28,9,2,0
77,New Orleans Jazz,NBA,1975,1979,5,410,161,249,0.393,0,0,0,0
78,Washington Wizards,NBA,1962,2019,58,4697,2128,2569,0.453,29,8,4,1
79,Washington Wizards,NBA,1998,2019,22,1756,750,1006,0.427,8,1,0,0
80,Washington Bullets,NBA,1975,1997,23,1886,887,999,0.470,13,2,3,1
81,Capital Bullets,NBA,1974,1974,1,82,47,35,0.573,1,1,0,0
82,Baltimore Bullets,NBA,1964,1973,10,813,401,412,0.493,7,4,1,0
83,Chicago Zephyrs,NBA,1963,1963,1,80,25,55,0.313,0,0,0,0
84,Chicago Packers,NBA,1962,1962,1,80,18,62,0.225,0,0,0,0

In [47]:
team_l = list(tames[tames.To==2019].Franchise.unique())

In [89]:
teams_d = {}
for team in team_l:
    name = team.split(' ')
    if len(name) == 2:
        abb = name[0][:3].upper()
    else:
        abb = ''
        for word in name:
            abb += word[0].upper()
    team_name = '_'.join(name)
    teams_d[team_name] = abb

In [92]:
teams_d['Oklahoma_City_Thunder'] = 'OKC'
teams_d['Brooklyn_Nets'] = 'NJN'
teams_d['Charlotte_Hornets'] = 'CHO'
teams_d['Brooklyn_Nets'] = 'BRK'
teams_d['Portland_Trail_Blazers'] = 'POR'
teams_d

{'Atlanta_Hawks': 'ATL',
 'Boston_Celtics': 'BOS',
 'Brooklyn_Nets': 'BRK',
 'Charlotte_Hornets': 'CHO',
 'Chicago_Bulls': 'CHI',
 'Cleveland_Cavaliers': 'CLE',
 'Dallas_Mavericks': 'DAL',
 'Denver_Nuggets': 'DEN',
 'Detroit_Pistons': 'DET',
 'Golden_State_Warriors': 'GSW',
 'Houston_Rockets': 'HOU',
 'Indiana_Pacers': 'IND',
 'Los_Angeles_Clippers': 'LAC',
 'Los_Angeles_Lakers': 'LAL',
 'Memphis_Grizzlies': 'MEM',
 'Miami_Heat': 'MIA',
 'Milwaukee_Bucks': 'MIL',
 'Minnesota_Timberwolves': 'MIN',
 'New_Orleans_Pelicans': 'NOP',
 'New_York_Knicks': 'NYK',
 'Oklahoma_City_Thunder': 'OKC',
 'Orlando_Magic': 'ORL',
 'Philadelphia_76ers': 'PHI',
 'Phoenix_Suns': 'PHO',
 'Portland_Trail_Blazers': 'POR',
 'Sacramento_Kings': 'SAC',
 'San_Antonio_Spurs': 'SAS',
 'Toronto_Raptors': 'TOR',
 'Utah_Jazz': 'UTA',
 'Washington_Wizards': 'WAS'}

In [12]:
url = 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2004/'
html = requests.get(url).content
df_list = pd.read_html(html)
lebron_james = df_list[-1]

    Rk -- Rank  G -- Season Game  Age -- Age of Player at the start of February 1st of that season.  Tm -- Team
    Opp -- Opponent  GS -- Games Started  MP -- Minutes Played  FG -- Field Goals  FGA -- Field Goal Attempts
    FG% -- Field Goal Percentage  3P -- 3-Point Field Goals  3PA -- 3-Point Field Goal Attempts  
    3P% -- 3-Point Field Goal Percentage  FT -- Free Throws  FTA -- Free Throw Attempts  
    FT% -- Free Throw Percentage  ORB -- Offensive Rebounds  DRB -- Defensive Rebounds  TRB -- Total Rebounds  
    AST -- Assists  STL -- Steals  BLK -- Blocks  TOV -- Turnovers  PF -- Personal Fouls  PTS -- Points  
    GmSc -- Game Score  +/- -- Plus/Minus

In [13]:
lebron_james

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2003-10-29,18-303,CLE,@,SAC,L (-14),1,42:00,...,4,6,9,4,0,2,3,25,24.7,-9
1,2,2,2003-10-30,18-304,CLE,@,PHO,L (-9),1,41:00,...,10,12,8,1,0,7,1,21,14.7,-3
2,3,3,2003-11-01,18-306,CLE,@,POR,L (-19),1,39:00,...,4,4,6,2,0,2,3,8,5.0,-21
3,4,4,2003-11-05,18-310,CLE,NaN,DEN,L (-4),1,41:00,...,9,11,7,2,3,2,1,7,11.2,-3
4,5,5,2003-11-07,18-312,CLE,@,IND,L (-1),1,44:00,...,5,5,3,0,0,7,2,23,9.0,-7
5,6,6,2003-11-08,18-313,CLE,NaN,WAS,W (+13),1,45:00,...,3,8,9,1,1,2,1,17,15.7,+14
6,7,7,2003-11-10,18-315,CLE,NaN,NYK,W (+14),1,34:00,...,4,5,4,1,1,2,0,17,15.8,+20
7,8,8,2003-11-12,18-317,CLE,@,MIA,L (-5),1,42:00,...,2,3,7,2,1,4,3,18,12.8,-4
8,9,9,2003-11-14,18-319,CLE,@,BOS,L (-9),1,35:00,...,4,5,3,0,0,4,3,10,0.8,-1
9,10,10,2003-11-15,18-320,CLE,NaN,PHI,W (+3),1,47:00,...,5,5,8,1,2,5,2,22,15.6,+8
10,11,11,2003-11-18,18-323,CLE,NaN,LAC,W (+8),1,39:00,...,5,7,8,0,1,3,2,14,9.8,+1
11,12,12,2003-11-19,18-324,CLE,@,WAS,L (-11),1,40:00,...,5,7,8,2,1,4,2,28,25.0,-5
12,13,13,2003-11-21,18-326,CLE,NaN,MIN,L (-14),1,36:00,...,7,9,2,1,0,1,4,19,12.2,-5
13,14,14,2003-11-22,18-327,CLE,@,ATL,L (-9),1,42:00,...,4,6,4,2,1,3,1,15,9.3,-6
14,15,15,2003-11-26,18-331,CLE,@,NOH,L (-10),1,39:00,...,6,8,9,0,0,4,1,15,10.2,-13
15,16,16,2003-11-28,18-333,CLE,@,DET,L (-4),1,36:00,...,2,2,7,0,0,4,3,6,1.1,-10
16,17,17,2003-11-29,18-334,CLE,NaN,MEM,L (-7),1,55:00,...,14,16,7,1,1,8,1,33,22.4,-10
17,18,18,2003-12-02,18-337,CLE,@,DEN,L (-12),1,32:00,...,3,6,5,2,0,2,4,19,12.2,-12
18,19,19,2003-12-03,18-338,CLE,@,LAC,L (-10),1,34:00,...,2,6,8,2,0,5,2,4,0.9,+3
19,20,20,2003-12-06,18-341,CLE,NaN,ATL,W (+10),1,36:00,...,5,6,5,2,1,3,2,8,5.8,-5
20,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
21,21,21,2003-12-09,18-344,CLE,NaN,TOR,L (-7),1,37:00,...,5,5,3,1,0,2,2,18,11.4,-2
22,22,22,2003-12-11,18-346,CLE,NaN,DET,W (+9),1,43:00,...,2,3,9,1,1,4,3,23,14.8,+9
23,23,23,2003-12-13,18-348,CLE,NaN,BOS,L (-7),1,45:00,...,2,3,4,0,0,2,2,37,27.5,-2
24,24,24,2003-12-15,18-350,CLE,@,IND,L (-10),1,44:00,...,3,4,6,3,3,6,1,27,23.9,-12
25,25,25,2003-12-17,18-352,CLE,NaN,HOU,L (-4),1,36:00,...,1,1,3,0,0,2,2,17,5.7,-9
26,26,26,2003-12-19,18-354,CLE,@,PHI,W (+7),1,42:00,...,3,4,5,4,0,4,1,36,29.5,+9
27,27,27,2003-12-20,18-355,CLE,@,CHI,W (+8),1,42:00,...,5,6,10,2,2,4,2,32,28.0,+9
28,28,28,2003-12-23,18-358,CLE,NaN,NOH,W (+11),1,39:00,...,4,6,2,6,1,5,1,22,14.3,+9
29,29,29,2003-12-25,18-360,CLE,@,ORL,L (-12),1,47:00,...,1,2,6,2,1,8,0,34,19.1,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,51,51,2004-02-18,19-050,CLE,NaN,DAL,L (-16),1,34:00,...,2,4,9,0,1,5,2,16,13.2,-15
53,52,52,2004-02-20,19-052,CLE,NaN,SAS,W (+2),1,39:00,...,9,11,2,2,1,2,0,32,27.7,+3
54,53,53,2004-02-22,19-054,CLE,@,NYK,W (+6),1,44:00,...,4,5,3,1,0,1,2,22,12.4,+11
55,54,54,2004-02-23,19-055,CLE,NaN,NOH,W (+4),1,36:00,...,4,4,6,2,5,1,3,21,21.3,+4
56,55,55,2004-02-25,19-057,CLE,@,HOU,L (-6),1,39:00,...,5,7,5,2,1,2,1,11,6.3,-5
57,56,56,2004-02-27,19-059,CLE,@,ORL,W (+5),1,49:00,...,10,11,3,3,1,5,1,30,24.8,+7
58,57,57,2004-03-01,19-062,CLE,@,CHI,L (-11),1,41:00,...,3,3,3,4,1,3,2,18,12.0,-4
59,58,58,2004-03-03,19-064,CLE,NaN,ATL,W (+32),1,28:00,...,6,7,3,1,1,1,0,24,20.6,+22
60,59,59,2004-03-05,19-066,CLE,@,NOH,W (+3),1,37:00,...,4,6,4,2,0,4,5,19,10.9,+1
61,60,60,2004-03-06,19-067,CLE,NaN,MIL,W (+9),1,43:00,...,5,7,10,4,1,2,3,24,22.6,+9
62,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
63,61,61,2004-03-08,19-069,CLE,@,ATL,W (+6),1,45:00,...,4,6,7,1,0,2,1,34,27.6,+11
64,62,62,2004-03-10,19-071,CLE,@,TOR,W (+14),1,34:00,...,2,3,4,1,0,2,2,14,8.4,+16
65,63,63,2004-03-14,19-075,CLE,NaN,IND,W (+3),1,44:00,...,3,3,4,3,1,4,3,26,16.8,+5
66,64,64,2004-03-16,19-077,CLE,NaN,CHI,W (+24),1,32:00,...,2,5,8,0,5,4,1,17,14.0,+24
67,65,65,2004-03-19,19-080,CLE,NaN,UTA,L (-9),1,33:00,...,0,0,7,2,1,2,3,14,8.6,-2
68,66,66,2004-03-21,19-082,CLE,NaN,DET,L (-20),1,36:00,...,5,7,3,0,2,4,4,15,5.5,-21
69,67,67,2004-03-23,19-084,CLE,NaN,PHO,L (-17),1,42:00,...,1,2,6,3,1,5,0,25,16.6,-12
70,68,68,2004-03-26,19-087,CLE,@,PHI,L (-15),1,33:00,...,1,3,7,0,1,5,1,16,9.2,-24
71,69,69,2004-03-27,19-088,CLE,NaN,NJN,W (+3),1,43:00,...,4,6,13,3,0,2,1,41,39.0,+10
72,70,70,2004-03-29,19-090,CLE,@,SAS,L (-8),1,32:00,...,2,2,4,0,1,2,0,18,9.7,-14
73,71,71,2004-03-30,19-091,CLE,@,DAL,L (-17),1,42:00,...,4,5,6,4,0,3,2,28,23.3,-10
74,72,72,2004-04-02,19-094,CLE,@,MIL,L (-18),1,36:00,...,7,7,7,5,0,5,3,20,16.1,-13
75,73,73,2004-04-03,19-095,CLE,NaN,GSW,L (-3),1,46:00,...,5,8,10,1,1,3,1,34,26.5,-3
76,74,74,2004-04-06,19-098,CLE,NaN,TOR,L (-1),1,46:00,...,5,6,4,3,0,3,2,21,14.1,+2
77,75,75,2004-04-07,19-099,CLE,@,MEM,L (-18),1,36:00,...,3,3,5,3,0,2,4,14,11.3,-11
78,76,76,2004-04-09,19-101,CLE,@,MIA,L (-15),1,42:00,...,6,7,8,1,0,8,2,24,15.3,-16
79,77,77,2004-04-10,19-102,CLE,NaN,MIA,W (+11),1,32:00,...,2,3,11,0,0,2,3,10,8.5,+14
80,78,78,2004-04-12,19-104,CLE,NaN,MIL,W (+4),1,45:00,...,6,7,9,2,0,1,1,27,24.8,+11
81,79,79,2004-04-14,19-106,CLE,@,NYK,W (+10),1,35:00,...,1,1,5,3,0,5,1,17,9.7,-6

In [122]:
url = 'https://www.basketball-reference.com/teams/LAL/2019_games.html'
html = requests.get(url).content
df_list = pd.read_html(html)
lakers = df_list[0]

In [123]:
lakers[lakers.G=='G'].index

Int64Index([20, 41, 62, 83], dtype='int64')

In [124]:
lakers.drop(lakers[lakers.G=='G'].index, inplace=True )

In [125]:
lakers.reset_index(drop=True, inplace=True)

In [126]:
lakers

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,"Thu, Oct 18, 2018",10:30p,NaN,Box Score,@,Portland Trail Blazers,L,NaN,119,128,0,1,L 1,NaN
1,2,"Sat, Oct 20, 2018",10:30p,NaN,Box Score,NaN,Houston Rockets,L,NaN,115,124,0,2,L 2,NaN
2,3,"Mon, Oct 22, 2018",10:30p,NaN,Box Score,NaN,San Antonio Spurs,L,OT,142,143,0,3,L 3,NaN
3,4,"Wed, Oct 24, 2018",10:00p,NaN,Box Score,@,Phoenix Suns,W,NaN,131,113,1,3,W 1,NaN
4,5,"Thu, Oct 25, 2018",10:30p,NaN,Box Score,NaN,Denver Nuggets,W,NaN,121,114,2,3,W 2,NaN
5,6,"Sat, Oct 27, 2018",8:30p,NaN,Box Score,@,San Antonio Spurs,L,NaN,106,110,2,4,L 1,NaN
6,7,"Mon, Oct 29, 2018",8:00p,NaN,Box Score,@,Minnesota Timberwolves,L,NaN,120,124,2,5,L 2,NaN
7,8,"Wed, Oct 31, 2018",10:30p,NaN,Box Score,NaN,Dallas Mavericks,W,NaN,114,113,3,5,W 1,NaN
8,9,"Sat, Nov 3, 2018",10:00p,NaN,Box Score,@,Portland Trail Blazers,W,NaN,114,110,4,5,W 2,NaN
9,10,"Sun, Nov 4, 2018",9:30p,NaN,Box Score,NaN,Toronto Raptors,L,NaN,107,121,4,6,L 1,NaN
10,11,"Wed, Nov 7, 2018",10:30p,NaN,Box Score,NaN,Minnesota Timberwolves,W,NaN,114,110,5,6,W 1,NaN
11,12,"Sat, Nov 10, 2018",10:00p,NaN,Box Score,@,Sacramento Kings,W,NaN,101,86,6,6,W 2,NaN
12,13,"Sun, Nov 11, 2018",9:30p,NaN,Box Score,NaN,Atlanta Hawks,W,NaN,107,106,7,6,W 3,NaN
13,14,"Wed, Nov 14, 2018",10:30p,NaN,Box Score,NaN,Portland Trail Blazers,W,NaN,126,117,8,6,W 4,NaN
14,15,"Sat, Nov 17, 2018",7:00p,NaN,Box Score,@,Orlando Magic,L,NaN,117,130,8,7,L 1,NaN
15,16,"Sun, Nov 18, 2018",6:00p,NaN,Box Score,@,Miami Heat,W,NaN,113,97,9,7,W 1,NaN
16,17,"Wed, Nov 21, 2018",8:00p,NaN,Box Score,@,Cleveland Cavaliers,W,NaN,109,105,10,7,W 2,NaN
17,18,"Fri, Nov 23, 2018",10:30p,NaN,Box Score,NaN,Utah Jazz,W,NaN,90,83,11,7,W 3,NaN
18,19,"Sun, Nov 25, 2018",3:30p,NaN,Box Score,NaN,Orlando Magic,L,NaN,104,108,11,8,L 1,NaN
19,20,"Tue, Nov 27, 2018",9:00p,NaN,Box Score,@,Denver Nuggets,L,NaN,85,117,11,9,L 2,NaN
20,21,"Thu, Nov 29, 2018",10:30p,NaN,Box Score,NaN,Indiana Pacers,W,NaN,104,96,12,9,W 1,NaN
21,22,"Fri, Nov 30, 2018",10:30p,NaN,Box Score,NaN,Dallas Mavericks,W,NaN,114,103,13,9,W 2,NaN
22,23,"Sun, Dec 2, 2018",3:30p,NaN,Box Score,NaN,Phoenix Suns,W,NaN,120,96,14,9,W 3,NaN
23,24,"Wed, Dec 5, 2018",10:30p,NaN,Box Score,NaN,San Antonio Spurs,W,NaN,121,113,15,9,W 4,NaN
24,25,"Fri, Dec 7, 2018",8:30p,NaN,Box Score,@,San Antonio Spurs,L,NaN,120,133,15,10,L 1,NaN
25,26,"Sat, Dec 8, 2018",8:00p,NaN,Box Score,@,Memphis Grizzlies,W,NaN,111,88,16,10,W 1,NaN
26,27,"Mon, Dec 10, 2018",10:30p,NaN,Box Score,NaN,Miami Heat,W,NaN,108,105,17,10,W 2,NaN
27,28,"Thu, Dec 13, 2018",8:00p,NaN,Box Score,@,Houston Rockets,L,NaN,111,126,17,11,L 1,NaN
28,29,"Sat, Dec 15, 2018",7:00p,NaN,Box Score,@,Charlotte Hornets,W,NaN,128,100,18,11,W 1,NaN
29,30,"Sun, Dec 16, 2018",6:00p,NaN,Box Score,@,Washington Wizards,L,NaN,110,128,18,12,L 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,53,"Sat, Feb 2, 2019",8:30p,NaN,Box Score,@,Golden State Warriors,L,NaN,101,115,27,26,L 1,NaN
53,54,"Tue, Feb 5, 2019",7:00p,NaN,Box Score,@,Indiana Pacers,L,NaN,94,136,27,27,L 2,NaN
54,55,"Thu, Feb 7, 2019",8:00p,NaN,Box Score,@,Boston Celtics,W,NaN,129,128,28,27,W 1,NaN
55,56,"Sun, Feb 10, 2019",3:30p,NaN,Box Score,@,Philadelphia 76ers,L,NaN,120,143,28,28,L 1,NaN
56,57,"Tue, Feb 12, 2019",7:30p,NaN,Box Score,@,Atlanta Hawks,L,NaN,113,117,28,29,L 2,NaN
57,58,"Thu, Feb 21, 2019",10:30p,NaN,Box Score,NaN,Houston Rockets,W,NaN,111,106,29,29,W 1,NaN
58,59,"Sat, Feb 23, 2019",7:00p,NaN,Box Score,@,New Orleans Pelicans,L,NaN,115,128,29,30,L 1,NaN
59,60,"Mon, Feb 25, 2019",8:00p,NaN,Box Score,@,Memphis Grizzlies,L,NaN,105,110,29,31,L 2,NaN
60,61,"Wed, Feb 27, 2019",10:30p,NaN,Box Score,NaN,New Orleans Pelicans,W,NaN,125,119,30,31,W 1,NaN
61,62,"Fri, Mar 1, 2019",10:30p,NaN,Box Score,NaN,Milwaukee Bucks,L,NaN,120,131,30,32,L 1,NaN
62,63,"Sat, Mar 2, 2019",9:00p,NaN,Box Score,@,Phoenix Suns,L,NaN,109,118,30,33,L 2,NaN
63,64,"Mon, Mar 4, 2019",10:30p,NaN,Box Score,NaN,Los Angeles Clippers,L,NaN,105,113,30,34,L 3,NaN
64,65,"Wed, Mar 6, 2019",10:30p,NaN,Box Score,NaN,Denver Nuggets,L,NaN,99,115,30,35,L 4,NaN
65,66,"Sat, Mar 9, 2019",8:30p,NaN,Box Score,NaN,Boston Celtics,L,NaN,107,120,30,36,L 5,NaN
66,67,"Tue, Mar 12, 2019",8:00p,NaN,Box Score,@,Chicago Bulls,W,NaN,123,107,31,36,W 1,NaN
67,68,"Thu, Mar 14, 2019",8:00p,NaN,Box Score,@,Toronto Raptors,L,NaN,98,111,31,37,L 1,NaN
68,69,"Fri, Mar 15, 2019",7:00p,NaN,Box Score,@,Detroit Pistons,L,NaN,97,111,31,38,L 2,NaN
69,70,"Sun, Mar 17, 2019",12:00p,NaN,Box Score,@,New York Knicks,L,NaN,123,124,31,39,L 3,NaN
70,71,"Tue, Mar 19, 2019",8:00p,NaN,Box Score,@,Milwaukee Bucks,L,NaN,101,115,31,40,L 4,NaN
71,72,"Fri, Mar 22, 2019",10:30p,NaN,Box Score,NaN,Brooklyn Nets,L,NaN,106,111,31,41,L 5,NaN
72,73,"Sun, Mar 24, 2019",9:30p,NaN,Box Score,NaN,Sacramento Kings,W,NaN,111,106,32,41,W 1,NaN
73,74,"Tue, Mar 26, 2019",10:30p,NaN,Box Score,NaN,Washington Wizards,W,NaN,124,106,33,41,W 2,NaN
74,75,"Wed, Mar 27, 2019",10:30p,NaN,Box Score,@,Utah Jazz,L,NaN,100,115,33,42,L 1,NaN
75,76,"Fri, Mar 29, 2019",10:30p,NaN,Box Score,NaN,Charlotte Hornets,W,NaN,129,115,34,42,W 1,NaN
76,77,"Sun, Mar 31, 2019",6:00p,NaN,Box Score,@,New Orleans Pelicans,W,NaN,130,102,35,42,W 2,NaN
77,78,"Tue, Apr 2, 2019",8:00p,NaN,Box Score,@,Oklahoma City Thunder,L,NaN,103,119,35,43,L 1,NaN
78,79,"Thu, Apr 4, 2019",10:30p,NaN,Box Score,NaN,Golden State Warriors,L,NaN,90,108,35,44,L 2,NaN
79,80,"Fri, Apr 5, 2019",10:30p,NaN,Box Score,@,Los Angeles Clippers,W,NaN,122,117,36,44,W 1,NaN
80,81,"Sun, Apr 7, 2019",9:30p,NaN,Box Score,NaN,Utah Jazz,W,NaN,113,109,37,44,W 2,NaN
81,82,"Tue, Apr 9, 2019",10:30p,NaN,Box Score,NaN,Portland Trail Blazers,L,NaN,101,104,37,45,L 1,NaN

    G -- Games
    Start (ET) -- Time zone = ET
    Tm -- Points
    Opp -- Opponent Points
    W -- Wins
    L -- Losses

In [192]:
years = [2019,2018,2017,2016,2015]
seasons = {}
for year in years:
    seasons[year]={}
    for name, add in teams_d.items():
        url = 'https://www.basketball-reference.com/teams/' + add + '/' + str(year) + '_games.html'
        html = requests.get(url).content
        df_list = pd.read_html(html)
        df = df_list[0]
        df.drop(df[df.G=='G'].index, inplace=True)
        df.reset_index(drop=True, inplace=True)
        df['Opponent'] = df.Opponent.map(lambda x: '_'.join(x.split(' ')))
        df['Date'] = df.Date.map(lambda x: ''.join(str(pd.to_datetime(x)).split(' ')[0].split('-')))
        df.drop(df.columns[[3, 4]], axis=1, inplace=True)
        df.rename(columns = {'Unnamed: 5':'Guest','Unnamed: 7':'Win_or_Lose','Unnamed: 8':'OverTime'}, inplace=True)
        seasons[year][name] = df

In [193]:
seasons[2019]['Los_Angeles_Lakers']

,G,Date,Start (ET),Guest,Opponent,Win_or_Lose,OverTime,Tm,Opp,W,L,Streak,Notes
0,1,20181018,10:30p,@,Portland_Trail_Blazers,L,NaN,119,128,0,1,L 1,NaN
1,2,20181020,10:30p,NaN,Houston_Rockets,L,NaN,115,124,0,2,L 2,NaN
2,3,20181022,10:30p,NaN,San_Antonio_Spurs,L,OT,142,143,0,3,L 3,NaN
3,4,20181024,10:00p,@,Phoenix_Suns,W,NaN,131,113,1,3,W 1,NaN
4,5,20181025,10:30p,NaN,Denver_Nuggets,W,NaN,121,114,2,3,W 2,NaN
5,6,20181027,8:30p,@,San_Antonio_Spurs,L,NaN,106,110,2,4,L 1,NaN
6,7,20181029,8:00p,@,Minnesota_Timberwolves,L,NaN,120,124,2,5,L 2,NaN
7,8,20181031,10:30p,NaN,Dallas_Mavericks,W,NaN,114,113,3,5,W 1,NaN
8,9,20181103,10:00p,@,Portland_Trail_Blazers,W,NaN,114,110,4,5,W 2,NaN
9,10,20181104,9:30p,NaN,Toronto_Raptors,L,NaN,107,121,4,6,L 1,NaN
10,11,20181107,10:30p,NaN,Minnesota_Timberwolves,W,NaN,114,110,5,6,W 1,NaN
11,12,20181110,10:00p,@,Sacramento_Kings,W,NaN,101,86,6,6,W 2,NaN
12,13,20181111,9:30p,NaN,Atlanta_Hawks,W,NaN,107,106,7,6,W 3,NaN
13,14,20181114,10:30p,NaN,Portland_Trail_Blazers,W,NaN,126,117,8,6,W 4,NaN
14,15,20181117,7:00p,@,Orlando_Magic,L,NaN,117,130,8,7,L 1,NaN
15,16,20181118,6:00p,@,Miami_Heat,W,NaN,113,97,9,7,W 1,NaN
16,17,20181121,8:00p,@,Cleveland_Cavaliers,W,NaN,109,105,10,7,W 2,NaN
17,18,20181123,10:30p,NaN,Utah_Jazz,W,NaN,90,83,11,7,W 3,NaN
18,19,20181125,3:30p,NaN,Orlando_Magic,L,NaN,104,108,11,8,L 1,NaN
19,20,20181127,9:00p,@,Denver_Nuggets,L,NaN,85,117,11,9,L 2,NaN
20,21,20181129,10:30p,NaN,Indiana_Pacers,W,NaN,104,96,12,9,W 1,NaN
21,22,20181130,10:30p,NaN,Dallas_Mavericks,W,NaN,114,103,13,9,W 2,NaN
22,23,20181202,3:30p,NaN,Phoenix_Suns,W,NaN,120,96,14,9,W 3,NaN
23,24,20181205,10:30p,NaN,San_Antonio_Spurs,W,NaN,121,113,15,9,W 4,NaN
24,25,20181207,8:30p,@,San_Antonio_Spurs,L,NaN,120,133,15,10,L 1,NaN
25,26,20181208,8:00p,@,Memphis_Grizzlies,W,NaN,111,88,16,10,W 1,NaN
26,27,20181210,10:30p,NaN,Miami_Heat,W,NaN,108,105,17,10,W 2,NaN
27,28,20181213,8:00p,@,Houston_Rockets,L,NaN,111,126,17,11,L 1,NaN
28,29,20181215,7:00p,@,Charlotte_Hornets,W,NaN,128,100,18,11,W 1,NaN
29,30,20181216,6:00p,@,Washington_Wizards,L,NaN,110,128,18,12,L 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,53,20190202,8:30p,@,Golden_State_Warriors,L,NaN,101,115,27,26,L 1,NaN
53,54,20190205,7:00p,@,Indiana_Pacers,L,NaN,94,136,27,27,L 2,NaN
54,55,20190207,8:00p,@,Boston_Celtics,W,NaN,129,128,28,27,W 1,NaN
55,56,20190210,3:30p,@,Philadelphia_76ers,L,NaN,120,143,28,28,L 1,NaN
56,57,20190212,7:30p,@,Atlanta_Hawks,L,NaN,113,117,28,29,L 2,NaN
57,58,20190221,10:30p,NaN,Houston_Rockets,W,NaN,111,106,29,29,W 1,NaN
58,59,20190223,7:00p,@,New_Orleans_Pelicans,L,NaN,115,128,29,30,L 1,NaN
59,60,20190225,8:00p,@,Memphis_Grizzlies,L,NaN,105,110,29,31,L 2,NaN
60,61,20190227,10:30p,NaN,New_Orleans_Pelicans,W,NaN,125,119,30,31,W 1,NaN
61,62,20190301,10:30p,NaN,Milwaukee_Bucks,L,NaN,120,131,30,32,L 1,NaN
62,63,20190302,9:00p,@,Phoenix_Suns,L,NaN,109,118,30,33,L 2,NaN
63,64,20190304,10:30p,NaN,Los_Angeles_Clippers,L,NaN,105,113,30,34,L 3,NaN
64,65,20190306,10:30p,NaN,Denver_Nuggets,L,NaN,99,115,30,35,L 4,NaN
65,66,20190309,8:30p,NaN,Boston_Celtics,L,NaN,107,120,30,36,L 5,NaN
66,67,20190312,8:00p,@,Chicago_Bulls,W,NaN,123,107,31,36,W 1,NaN
67,68,20190314,8:00p,@,Toronto_Raptors,L,NaN,98,111,31,37,L 1,NaN
68,69,20190315,7:00p,@,Detroit_Pistons,L,NaN,97,111,31,38,L 2,NaN
69,70,20190317,12:00p,@,New_York_Knicks,L,NaN,123,124,31,39,L 3,NaN
70,71,20190319,8:00p,@,Milwaukee_Bucks,L,NaN,101,115,31,40,L 4,NaN
71,72,20190322,10:30p,NaN,Brooklyn_Nets,L,NaN,106,111,31,41,L 5,NaN
72,73,20190324,9:30p,NaN,Sacramento_Kings,W,NaN,111,106,32,41,W 1,NaN
73,74,20190326,10:30p,NaN,Washington_Wizards,W,NaN,124,106,33,41,W 2,NaN
74,75,20190327,10:30p,@,Utah_Jazz,L,NaN,100,115,33,42,L 1,NaN
75,76,20190329,10:30p,NaN,Charlotte_Hornets,W,NaN,129,115,34,42,W 1,NaN
76,77,20190331,6:00p,@,New_Orleans_Pelicans,W,NaN,130,102,35,42,W 2,NaN
77,78,20190402,8:00p,@,Oklahoma_City_Thunder,L,NaN,103,119,35,43,L 1,NaN
78,79,20190404,10:30p,NaN,Golden_State_Warriors,L,NaN,90,108,35,44,L 2,NaN
79,80,20190405,10:30p,@,Los_Angeles_Clippers,W,NaN,122,117,36,44,W 1,NaN
80,81,20190407,9:30p,NaN,Utah_Jazz,W,NaN,113,109,37,44,W 2,NaN
81,82,20190409,10:30p,NaN,Portland_Trail_Blazers,L,NaN,101,104,37,45,L 1,NaN

In [197]:
seasons[2019]['Los_Angeles_Lakers'].iloc[0].Guest=='@'

True

In [204]:
games = {}
for i in range(82):
    team = 'Los_Angeles_Lakers'
    year = 2019
    date = seasons[year][team].iloc[i].Date
    guest = seasons[year][team].iloc[i].Guest=='@'
    opponent = seasons[year][team].iloc[i].Opponent
    if guest:
        url = 'https://www.basketball-reference.com/boxscores/'+str(date)+str(0)+teams_d[opponent]+'.html'
        html = requests.get(url).content
        df_list = pd.read_html(html)
        df1 = df_list[0]
        df2 = df_list[1]
        games[i] = pd.concat([df1, df2], axis=1)
    else:
        url = 'https://www.basketball-reference.com/boxscores/'+str(date)+str(0)+teams_d[team]+'.html'
        html = requests.get(url).content
        df_list = pd.read_html(html)
        df1 = df_list[2]
        df2 = df_list[3]
        games[i] = pd.concat([df1, df2], axis=1)

In [205]:
games[4]

          Unnamed: 0_level_0 Basic Box Score Stats                 \
                    Starters                    MP             FG
0               LeBron James                 34:40             10
1                 Kyle Kuzma                 34:17              8
2                 Lonzo Ball                 33:15              5
3                  Josh Hart                 31:55              3
4               JaVale McGee                 31:43             10
5                   Reserves                    MP             FG
6           Lance Stephenson                 24:45              5
7   Kentavious Caldwell-Pope                 22:01              2
8         Johnathan Williams                 12:28              1
9      Sviatoslav Mykhailiuk                 12:24              2
10           Michael Beasley                  2:32              0
11               Ivica Zubac          Did Not Play   Did Not Play
12               Rajon Rondo         Not With Team  Not With Team
13            Brandon Ingram         Not With Team  Not With Team
14               Team Totals                   240             46

                                                                               \
              FGA            FG%             3P            3PA            3P%
0              17           .588              1              5           .200
1              18           .444              2              6           .333
2              10           .500              2              5           .400
3              10           .300              1              6           .167
4              16           .625              0              0            NaN
5             FGA            FG%             3P            3PA            3P%
6              11           .455              2              3           .667
7               5           .400              2              4           .500
8               2           .500              0              0            NaN
9               3           .667              0              0            NaN
10              0            NaN              0              0            NaN
11   Did Not Play   Did Not Play   Did Not Play   Did Not Play   Did Not Play
12  Not With Team  Not With Team  Not With Team  Not With Team  Not With Team
13  Not With Team  Not With Team  Not With Team  Not With Team  Not With Team
14             92           .500             10             29           .345

                                  ... Advanced Box Score Stats                 \
               FT            FTA  ...                     ORB%           DRB%
0               7             10  ...                      0.0           35.4
1               4              4  ...                      0.0            9.8
2               0              0  ...                      0.0           20.1
3               5              6  ...                      0.0           17.5
4               1              1  ...                     17.6            7.0
5              FT            FTA  ...                     ORB%           DRB%
6               0              0  ...                      9.0            9.0
7               2              2  ...                      0.0           10.1
8               0              0  ...                      9.0            9.0
9               0              0  ...                      9.0            9.0
10              0              0  ...                      0.0            0.0
11   Did Not Play   Did Not Play  ...            Not With Team  Not With Team
12  Not With Team  Not With Team  ...            Not With Team  Not With Team
13  Not With Team  Not With Team  ...             Did Not Play   Did Not Play
14             19             23  ...                     20.9           76.7

                                                                               \
             TRB%           AST%           STL%           BLK%           TOV%
0            17.7           47.4            3.9            0.0            8.5
1             4.9            0.0            1.3            4.1            4.8
2            10.1           29.8            6.8            0.0           23.1
3             8.7            3.6            2.8            0.0           13.7
4            12.3            9.8            1.4            2.2            0.0
5            TRB%           AST%           STL%           BLK%           TOV%
6             9.0           21.4            1.8            0.0            8.3
7             5.1            0.0            0.0            0.0           25.4
8             9.0            0.0            0.0            0.0           33.3
9             9.0           10.1            0.0            0.0            0.0
10            0.0            0.0            0.0            0.0          100.0
11  Not With Team  Not With Team  Not With Team  Not With Team  Not With Team
12  Not With Team  Not With Team  Not With Team  Not With Team  Not With Team
13   Did Not Play   Did Not Play   Did Not Play   Did Not Play   Did Not Play
14           48.8           58.7           12.3            4.3           11.3


             USG%           ORtg           DRtg
0            28.1            136            101
1            25.2            108            109
2            16.3            110             98
3            19.1             89            107
4            21.6            142            110
5            USG%           ORtg           DRtg
6            20.2            118            111
7            14.9             97            115
8            10.0             82            115
9            10.1            151            115
10           16.5              0            116
11  Not With Team  Not With Team  Not With Team
12  Not With Team  Not With Team  Not With Team
13   Did Not Play   Did Not Play   Did Not Play
14          100.0          114.4          107.8

[15 rows x 37 columns]

In [207]:
seasons[2019]['Los_Angeles_Lakers'].iloc[[4]]

,G,Date,Start (ET),Guest,Opponent,Win_or_Lose,OverTime,Tm,Opp,W,L,Streak,Notes
4,5,20181025,10:30p,NaN,Denver_Nuggets,W,NaN,121,114,2,3,W 2,NaN

In [273]:
schedules = pd.DataFrame()
for year in [2015,2016,2017,2018]:
    for month in ['october', 'november', 'december', 'january', 'february', 'march', 'april', 'may', 'june']:
        url = 'https://www.basketball-reference.com/leagues/NBA_'+ str(year) +'_games-'+ month +'.html'
        html = requests.get(url).content
        df_list = pd.read_html(html)
        df = df_list[0]
        if 'Playoffs' in list(df.Date):
            df.drop(df[df.Date=='Playoffs'].index, inplace=True)
        df.drop(df[df.Date=='Date'].index, inplace=True)
        df.drop(df.columns[[6, 9]], axis=1, inplace=True)
        df['Date'] = df.Date.map(lambda x: ''.join(str(pd.to_datetime(x)).split(' ')[0].split('-')))
        df.rename(columns = {'Unnamed: 7':'OverTime'}, inplace=True)
        df.reset_index(drop=True, inplace=True)
        schedules = schedules.append(df, ignore_index=True, sort=False)

In [274]:
schedules

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,OverTime,Attend.
0,20141028,10:30p,Houston Rockets,108,Los Angeles Lakers,90,NaN,18997
1,20141028,8:00p,Orlando Magic,84,New Orleans Pelicans,101,NaN,17097
2,20141028,8:00p,Dallas Mavericks,100,San Antonio Spurs,101,NaN,19615
3,20141029,7:30p,Brooklyn Nets,105,Boston Celtics,121,NaN,18624
4,20141029,7:00p,Milwaukee Bucks,106,Charlotte Hornets,108,OT,19439
5,20141029,9:00p,Detroit Pistons,79,Denver Nuggets,89,NaN,17136
6,20141029,7:00p,Philadelphia 76ers,91,Indiana Pacers,103,NaN,18165
7,20141029,8:00p,Minnesota Timberwolves,101,Memphis Grizzlies,105,NaN,17731
8,20141029,7:30p,Washington Wizards,95,Miami Heat,107,NaN,19744
9,20141029,8:00p,Chicago Bulls,104,New York Knicks,80,NaN,19812
10,20141029,10:00p,Los Angeles Lakers,99,Phoenix Suns,119,NaN,17523
11,20141029,10:30p,Oklahoma City Thunder,89,Portland Trail Blazers,106,NaN,19441
12,20141029,10:00p,Golden State Warriors,95,Sacramento Kings,77,NaN,17317
13,20141029,7:30p,Atlanta Hawks,102,Toronto Raptors,109,NaN,19800
14,20141029,9:00p,Houston Rockets,104,Utah Jazz,93,NaN,19911
15,20141030,8:00p,New York Knicks,95,Cleveland Cavaliers,90,NaN,20562
16,20141030,8:30p,Utah Jazz,102,Dallas Mavericks,120,NaN,19697
17,20141030,10:30p,Oklahoma City Thunder,90,Los Angeles Clippers,93,NaN,19060
18,20141030,8:00p,Detroit Pistons,91,Minnesota Timberwolves,97,NaN,18296
19,20141030,7:00p,Washington Wizards,105,Orlando Magic,98,NaN,18846
20,20141031,8:00p,Cleveland Cavaliers,114,Chicago Bulls,108,OT,22879
21,20141031,7:00p,Memphis Grizzlies,97,Indiana Pacers,89,NaN,14441
22,20141031,10:30p,Los Angeles Clippers,118,Los Angeles Lakers,111,NaN,18997
23,20141031,8:30p,Philadelphia 76ers,81,Milwaukee Bucks,93,NaN,18717
24,20141031,10:00p,San Antonio Spurs,89,Phoenix Suns,94,NaN,15050
25,20141031,10:00p,Portland Trail Blazers,94,Sacramento Kings,103,NaN,14648
26,20141101,7:30p,Indiana Pacers,92,Atlanta Hawks,102,NaN,19118
27,20141101,7:00p,Memphis Grizzlies,71,Charlotte Hornets,69,NaN,18133
28,20141101,7:30p,Brooklyn Nets,102,Detroit Pistons,90,NaN,19904
29,20141101,10:30p,Los Angeles Lakers,104,Golden State Warriors,127,NaN,19596
...,...,...,...,...,...,...,...,...
5218,20180503,6:00p,Cleveland Cavaliers,128,Toronto Raptors,110,NaN,20127
5219,20180504,8:00p,Golden State Warriors,100,New Orleans Pelicans,119,NaN,18551
5220,20180504,10:30p,Houston Rockets,113,Utah Jazz,92,NaN,18306
5221,20180505,8:30p,Toronto Raptors,103,Cleveland Cavaliers,105,NaN,20562
5222,20180505,5:00p,Boston Celtics,101,Philadelphia 76ers,98,OT,20758
5223,20180506,3:30p,Golden State Warriors,118,New Orleans Pelicans,92,NaN,18513
5224,20180506,8:00p,Houston Rockets,100,Utah Jazz,87,NaN,18306
5225,20180507,8:30p,Toronto Raptors,93,Cleveland Cavaliers,128,NaN,20562
5226,20180507,6:00p,Boston Celtics,92,Philadelphia 76ers,103,NaN,20936
5227,20180508,10:30p,New Orleans Pelicans,104,Golden State Warriors,113,NaN,19596
5228,20180508,8:00p,Utah Jazz,102,Houston Rockets,112,NaN,18055
5229,20180509,8:00p,Philadelphia 76ers,112,Boston Celtics,114,NaN,18624
5230,20180513,3:30p,Cleveland Cavaliers,83,Boston Celtics,108,NaN,18624
5231,20180514,9:00p,Golden State Warriors,119,Houston Rockets,106,NaN,18055
5232,20180515,8:30p,Cleveland Cavaliers,94,Boston Celtics,107,NaN,18624
5233,20180516,9:00p,Golden State Warriors,105,Houston Rockets,127,NaN,18119
5234,20180519,8:30p,Boston Celtics,86,Cleveland Cavaliers,116,NaN,20562
5235,20180520,8:00p,Houston Rockets,85,Golden State Warriors,126,NaN,19596
5236,20180521,8:30p,Boston Celtics,102,Cleveland Cavaliers,111,NaN,20562
5237,20180522,9:00p,Houston Rockets,95,Golden State Warriors,92,NaN,19596
5238,20180523,8:30p,Cleveland Cavaliers,83,Boston Celtics,96,NaN,18624
5239,20180524,9:00p,Golden State Warriors,94,Houston Rockets,98,NaN,18208
5240,20180525,8:30p,Boston Celtics,99,Cleveland Cavaliers,109,NaN,20562
5241,20180526,9:00p,Houston Rockets,86,Golden State Warriors,115,NaN,19596
5242,20180527,8:30p,Cleveland Cavaliers,87,Boston Celtics,79,NaN,18624
5243,20180528,9:00p,Golden State Warriors,101,Houston Rockets,92,NaN,18055
5244,20180531,9:00p,Cleveland Cavaliers,114,Golden State Warriors,124,OT,19596
5245,20180603,8:00p,Cleveland Cavaliers,103,Golden State Warriors,122,NaN,19596
5246,20180606,9:00p,Golden State Warriors,110,Cleveland Cavaliers,102,NaN,20562
5247,20180608,9:00p,Golden State Warriors,108,Cleveland Cavaliers,85,NaN,20562

In [267]:
try:
    url = 'https://www.basketball-reference.com/leagues/NBA_2019_games-june.html'
    html = requests.get(url).content
    df_list = pd.read_html(html)
    df = df_list[0]
    if 'Playoffs' in list(df.Date):
        df.drop(df[df.Date=='Playoffs'].index, inplace=True)
    df.drop(df[df.Date=='Date'].index, inplace=True)
    df.drop(df.columns[[6, 9]], axis=1, inplace=True)
    df['Date'] = df.Date.map(lambda x: ''.join(str(pd.to_datetime(x)).split(' ')[0].split('-')))
    df.rename(columns = {'Unnamed: 7':'OverTime'}, inplace=True)
    df.reset_index(drop=True, inplace=True)
except:
    continue

SyntaxError: 'continue' not properly in loop (<ipython-input-267-2007df88e314>, line 17)